html {
  font-size: 100%;
  font-family: 'Open Sans', sans-serif;
}


.own-hand {
  display: block;
  position: absolute;
  bottom: -100px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.card {
  margin: 100px 10px 0 0;
  float: left;
  display: block;
  margin-top: 100px;
}

.open {
  bottom: 0 !important;
  margin-top: 0;
}

.selected {
  margin-top: -50px;
  border: 3px solid green;
  width: 180px;
  height: 300px;
}
