html {
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,0.7);
    font-size: 1rem;
}

a:hover, a:active, a:visited {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
}

ul {
    font-size: 1.25rem;
    font-weight: 300;
}

pre {
    background: #EEEEEE;
    padding: 15px 17px;
    display: block;
    margin-bottom: 1.25rem;
    font-weight: 300;
}

aside {
    position: fixed;
    float: left;
    width: 240px;
    height: 100%;
    left: -240px;
    background: #3f3f3f;
    color: #fff;
    z-index: 30;

    padding-top: 40px;
}

aside h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.25em;
}

aside.open {
    left: 0;

}

#aside-fade {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
    cursor: pointer;
    z-index: 20;

}

#aside-fade.open {
    pointer-events: auto;
    background: rgba(0, 0, 0, 0.6);

}

header {
    height: 100%;
    background: #0562dc;
}

header .content {
    position: absolute;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

header h1 {
    font-weight: 800;
    color: #FFFFFF;
    font-size: 6em;
    margin: 0;
}

header h3 {
    color: #FFFFFF;
    font-size: 4em;
}

header i {
    color: #FFFFFF;
    font-size: 4em;
    margin-right: 0.2em;
}


.day {
    font-size: 5rem;
    font-weight: 800;
    text-align: center;
}

.month-year {
    text-align: center;
}

p {
    font-weight: 300;
    font-size: 1.25rem;
}

article {
    border-bottom: 2px solid #f2f2f2;
    margin-top: 50px;
    margin-bottom: 20px;
}

article .content h2 {
    font-weight: 800;
    font-size: 2rem;
    text-align: left;
    margin: 26px 0 15px 0;
}
article .content h3 {
    font-weight: 800;
    font-size: 1.8rem;
    text-align: left;
    margin: 35px 0 10px 0;
}
article blockquote {
    border-left: 3px solid #DDD;
    padding:1rem 1.25rem 1rem 1.1875rem;
}

article blockquote footer {
    margin-bottom: 0px;
    font-style: italic;
}
article footer {
    margin-bottom: 50px;
}

article footer .tags a {
    border-radius: 5px;
    text-decoration: none;
    padding: 2px 10px;
}

.scroller {
    font-size: 42px;
    width: 100%;
    left: 0;
    text-align: center;
    bottom: 50px;
    display: block;
    position: absolute;
    color: #ffffff;
    cursor: pointer;
}

.scroller {
    -webkit-animation: scroller 1.5s infinite; /* Safari 4+ */
    -moz-animation: scroller 1.5s infinite; /* Fx 5+ */
    -o-animation: scroller 1.5s infinite; /* Opera 12+ */
    animation: scroller 1.5s infinite; /* IE 10+, Fx 29+ */
    /*-webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);*/
}

@keyframes scroller {
    0% {
        bottom: 30px;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
    50% {
        bottom: 50px;
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
    100% {
        bottom: 30px;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
}

@-moz-keyframes scroller {
    0% {
        bottom: 30px;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
    50% {
        bottom: 50px;
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
    100% {
        bottom: 30px;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
}

@-webkit-keyframes scroller {
    0% {
        bottom: 30px;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
    50% {
        bottom: 50px;
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
    100% {
        bottom: 30px;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
}

@-ms-keyframes scroller {
    0% {
        bottom: 30px;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
    50% {
        bottom: 50px;
        opacity: 1;
        filter: alpha(opacity=100); /* For IE8 and earlier */
    }
    100% {
        bottom: 30px;
        opacity: 0.4;
        filter: alpha(opacity=40); /* For IE8 and earlier */
    }
}

/* Define mobile styles */
@media only screen {
    article .content h2 {
        text-align: center;
    }

}

/* max-width 640px, mobile-only styles, use when QAing mobile issues */
@media only screen and (max-width: 40em) {
    article .content h2 {
        text-align: center;
    }
}


/* Did I say MATERIAL ? */
.shadow-1 {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.shadow-2 {
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12);
}
.shadow-3 {
    box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
}
.card {
    border-radius: 2px;
    background: #FFF;
    padding: 1rem 2rem;
}