body {
    background: #FAFAFA;
}
a, a:active, a:visited, a:visited {
    color: #3F51B5;
}
a:hover {
    color: #3F51B5;
}
strong {
    color: #EF6C00;
    font-weight: 400;
}
ul {

}
.material {
    background: #FFF;
}

header  i {
    color: #C5CAE9;
}
header  i:hover {
    color: #FFF;
}
header {
    background: #3F51B5;
    color: #FFF;
}

aside {
    background: #FAFAFA;
}
aside h1 {
    color: #424242;
}
aside nav li a {
    color: #757575;
}
aside nav li a:hover {
    background: #e0e0e0;
    color: #757575;
}
#menu-btn {
    background: #EF6C00;
    color: #FFFFFF;
}



article .content h3, article .content h4 {
    /*color: #3F51B5;*/
    color: rgba(0,0,0,0.7);
}
article .content h2 {
    color: #3F51B5;
}
article blockquote {
    border-left-color: #EF6C00;
}
article footer .tags a:hover {
    background: #3F51B5;
    color: #F5F5F5;
}