body {
    background: #FAFAFA;
}
a, a:active, a:visited {
    color: #3F51B5;
}
a:hover {
    color: #3F51B5;
}
.material {
    background: #FFF;
}



header {
    background: #3F51B5;
}



aside {
    background: #f5f5f5;
}
aside h1 {
    color: #424242;
}
aside nav li a {
    color: #757575;
}
aside nav li a:hover {
    background: #e0e0e0;
    color: #757575;
}
#menu-btn {
    background: #EF6C00;
    color: #FFFFFF;
}



article .content h2 {
    color: #3F51B5;
}
footer .tags a:hover {
    background: #3F51B5;
    color: #F5F5F5;
}